<div class="jumbotron">
  <h1>'Juegos y m&aacute;s y m&aacute;s juegos!</h1>
  <p class="lead">
    <img src="images/yeoman.png" alt="I'm Yeoman"><br>
    Bienvenido.
  </p>
  <p><a class="btn btn-lg btn-success" ng-href="#/">Splendid!<span class="glyphicon glyphicon-ok"></span></a></p>
</div>

<div class="row marketing">
  <h4>Juego la Llorona</h4>
  <p>
    Este juego consiste en poner a prueba la velocidad de movimiento al traspasar los obst&aacute;culos de calaveras.
  </p>

  <h4>Evade los asteroides</h4>
  <p>
    Este juego pone a prueba la astucia para evadir la monta&ntilde;a de piedras que afronta la nave espacial.
  </p>

  <h4>Naves</h4>
  <p>Este juego participa de tu dualidad para manejar un equipo que se enfrenta a una invasión.</p>
</div>
